<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="logo header__logo">
        <img src="img/logo.svg" alt="Voda Box">
      </a>
      <nav class="menu" data-menu>
        <ul class="menu__list">
          <li>
            <a href="#" class="menu__link" data-text="Споживачам">
              Споживачам
            </a>
          </li>
          <li>
            <a href="#" class="menu__link" data-text="Партнерам">
              Партнерам
            </a>
          </li>
          <li>
            <a href="#" class="menu__link" data-text="Відгуки">
              Відгуки
            </a>
          </li>
          <li>
            <a href="#" class="menu__link" data-text="Контакти">
              Контакти
            </a>
          </li>
        </ul>
      </nav>
      <div class="burger" data-burger>
        <span class="burger__line"></span>
      </div>
    </div>
  </div>
</header>
