.info {
  margin-top: -60px;
  position: relative;

  &::before {
    content: "";
    width: 475px;
    height: 527px;
    background: rgba(18, 149, 238, 0.5);
    filter: blur(150px);
    position: absolute;
    left: 0;
    top: 20%;
    transform: translateX(-40%);
    z-index: -1;

    @media screen and (max-width: 1440px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: 30px;
    margin-top: -31px;
  }

  &__title {
    max-width: 1065px;
    font-family: var(--font-family-secondary);
    font-weight: 600;
    @include adaptiv-value(margin-bottom, 65, 20, 1);

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 576px) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  &__stats {
    margin-bottom: 103px;

    @media screen and (max-width: 1366px) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 60px;
    }



    &-inner {
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 350px));
      gap: 65px;
      max-width: 1265px;

      @media screen and (max-width: 992px) {
        column-gap: 35px;
      }

      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 576px) {
        column-gap: 10px;
        row-gap: 25px;
      }

      @media screen and (max-width: 359px) {}
    }

    &-item {
      display: grid;
      grid-auto-flow: row;
      gap: 25px;

      @media screen and (max-width: 1600) {
        gap: 20px;
      }

      @media screen and (max-width: 1366px) {
        gap: 15px;
      }

      @media screen and (max-width: 767px) {
        text-align: center;
      }

      @media screen and (max-width: 360px) {
        text-align: left;
      }
    }

    &-num {
      @include adaptiv-value(font-size, 120, 50, 1);
      font-family: var(--font-family-secondary);
      font-weight: 700;
      line-height: 1;

      @media screen and (max-width: 1600px) {
        font-size: 90px;
      }

      @media screen and (max-width: 1366px) {
        font-size: 70px;
      }
    }

    &-descr {
      @include adaptiv-value(font-size, 24, 16, 1);
      // margin-top: auto;

      @media screen and (max-width: 1600px) {
        font-size: 20px;
      }

      @media screen and (max-width: 1366px) {
        font-size: 18px;
      }
    }

    &-machines {
      color: var(--accent);
    }

    &-cities {
      color: var(--accent-light);
    }

    &-partners {
      color: var(--accent-extralight);
    }

    &-hours {
      color: var(--accent-light);
    }
  }

  &__benefit {
    padding: 85px 95px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.61) 0%, rgba(159, 212, 255, 0.61) 100%);
    box-shadow: 0px 4px 18px rgba(148, 213, 253, 0.3),
      0px 1px 40px rgba(206, 236, 255, 0.2);
    backdrop-filter: blur(52px);
    margin-bottom: 90px;

    @media screen and (max-width: 1366px) {
      padding: 65px 75px;
      margin-bottom: 80pz;
    }

    @media screen and (max-width: 768px) {
      padding: 41px 75px;
    }

    @media screen and (max-width: 576px) {
      padding: 41px 10px;
      margin-bottom: 25px;
    }

    &-inner {
      display: grid;
      grid-template-columns: repeat(6, auto);
      column-gap: 45px;
      row-gap: 20px;

      @media screen and (max-width: 1366px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
      }

      @media screen and (max-width: 768px) {
        row-gap: 30px;
      }

      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 359px) {
        grid-template-columns: 1fr;
      }
    }

    &-title {
      text-align: center;
      margin-bottom: 60px;

      @media screen and (max-width: 576px) {
        font-size: 24px;
        max-width: 200px;
        margin: 0 auto 30px auto;
      }
    }

    &-item {
      display: grid;
      grid-auto-flow: row;
      justify-items: center;
      align-self: start;
      gap: 15px;

      @media screen and (max-width: 576px) {
        gap: 10px;
      }
    }


    &-text {
      font-size: 24px;
      text-align: center;

      @media screen and (max-width: 1366px) {
        font-size: 22px;
      }

      @media screen and (max-width: 576px) {
        font-size: 18px;
      }

      @media screen and (max-width: 360px) {
        font-size: 16px;
      }
    }
  }

  &__stages {
    margin-bottom: 90px;

    &-inner {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      @include adaptiv-value(gap, 102, 30, 1);

      @media screen and (max-width: 992px) {
        grid-template-columns: auto;
        gap: 70px;
      }

      @media screen and (max-width: 576px) {
        gap: 0;
      }
    }

    &-info {
      grid-column: 7 / 13;
      padding-top: 17px;

      @media screen and (max-width: 992px) {
        grid-column: unset;
        padding-top: 0;
      }
    }

    &-title {
      font-size: 24px;
      margin-bottom: 36px;

      @media screen and (max-width: 992px) {
        max-width: 570px;
      }

      @media screen and (max-width: 576px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    &-media {
      grid-column: 1 / 7;

      @media screen and (max-width: 992px) {
        grid-column: unset;
      }
    }

    &-img {
      padding-bottom: 125%;
      position: relative;
      z-index: 2;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 87%;
        background-color: var(--accent-decor);
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(2%) translateX(5%);
        z-index: -1;
        box-shadow: 0px 4px 84px rgba(73, 178, 255, 0.3);
        border-radius: 5px;

        @media screen and (max-width: 992px) {
          transform: translateX(0) translateY(10%);
        }

        @media screen and (max-width: 768px) {
          max-width: 684px;
        }
      }

      @media screen and (max-width: 992px) {
        padding-bottom: 51%;
      }

      @media screen and (max-width: 576px) {
        display: none;
      }

      & img {
        @media screen and (max-width: 768px) {
          max-width: 680px;
        }
      }

    }

    &-list {
      display: grid;
      grid-auto-flow: row;
      gap: 23px;
      position: relative;
      counter-reset: counter;

      @media screen and (max-width: 576px) {
        gap: 10px;
      }

      &::before {
        content: "";
        width: 1px;
        height: 95%;
        border: 1px dashed #9CD5FF;
        left: 15px;
        position: absolute;
        z-index: -1;

        @media screen and (max-width: 576px) {
          height: 90%;
        }
      }
    }

    &-item {
      position: relative;
      padding-left: 55px;

      &::before {
        content: counter(counter);
        counter-increment: counter;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-weight: 600;
        font-size: 16px;
        left: 0;
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        box-shadow: 0px 3px 5px rgba(40, 165, 246, 0.2);
      }
    }

    &-filtration::before {
      background-color: #D2EDFF;
    }

    &-adsorbation::before {
      background-color: #B5E0FD;
    }

    &-aeration::before {
      background-color: #A9DCFF;
    }

    &-softening::before {
      background-color: #93D3FF;
    }

    &-deep::before {
      background-color: #77C8FF;
    }

    &-conditioning::before {
      background-color: #59BCFF;
    }

    &-mineralization::before {
      background-color: #39A9F4;
    }

    &-structurization::before {
      background-color: #39A9F4;
    }

    &-cleaning::before {
      background-color: #0098FF;
    }

    &-decontamination::before {
      background-color: #09BEF8;
    }

    &-text {
      font-size: 18px;
      @include line-height(18, 30);
      max-width: 587px;

      @media screen and (max-width: 576px) {
        font-size: 16px;
        max-width: 280px;
      }

      & strong {
        font-weight: 600;
      }
    }
  }
}
