.info {
  margin-top: -60px;

  @media screen and (max-width: 768px) {
    padding-top: 30px;
    margin-top: -31px;
  }

  &__title {
    max-width: 1065px;
    font-family: var(--font-family-secondary);
    font-weight: 600;
    @include adaptiv-value(margin-bottom, 65, 20, 1);

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 576px) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  &__stats {
    margin-bottom: 103px;

    @media screen and (max-width: 1366px) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 60px;
    }



    &-inner {
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 350px));
      gap: 65px;
      max-width: 1265px;

      @media screen and (max-width: 992px) {
        column-gap: 35px;
      }

      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 576px) {
        column-gap: 10px;
        row-gap: 25px;
      }

      @media screen and (max-width: 359px) {}
    }

    &-item {
      display: grid;
      grid-auto-flow: row;
      gap: 25px;

      @media screen and (max-width: 1600) {
        gap: 20px;
      }

      @media screen and (max-width: 1366px) {
        gap: 15px;
      }

      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }

    &-num {
      @include adaptiv-value(font-size, 120, 50, 1);
      font-family: var(--font-family-secondary);
      font-weight: 700;
      line-height: 1;

      @media screen and (max-width: 1600px) {
        font-size: 90px;
      }

      @media screen and (max-width: 1366px) {
        font-size: 70px;
      }
    }

    &-descr {
      @include adaptiv-value(font-size, 24, 16, 1);
      // margin-top: auto;

      @media screen and (max-width: 1600px) {
        font-size: 20px;
      }

      @media screen and (max-width: 1366px) {
        font-size: 18px;
      }
    }

    &-machines {
      color: var(--accent);
    }

    &-cities {
      color: var(--accent-light);
    }

    &-partners {
      color: var(--accent-extralight);
    }

    &-hours {
      color: var(--accent-light);
    }
  }

  &__benefit {
    padding: 85px 95px;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.61) 0%, rgba(159, 212, 255, 0.61) 100%);
    box-shadow: 0px 4px 18px rgba(148, 213, 253, 0.3),
      0px 1px 40px rgba(206, 236, 255, 0.2);
    backdrop-filter: blur(52px);

    @media screen and (max-width: 1366px) {
      padding: 65px 75px
    }

    @media screen and (max-width: 768px) {
      padding: 41px 75px;
    }

    &-inner {
      display: grid;
      grid-template-columns: repeat(6, auto);
      column-gap: 45px;
      row-gap: 20px;

      @media screen and (max-width: 1366px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
      }

      @media screen and (max-width: 768px) {
        row-gap: 30px;
      }
    }

    &-title {
      text-align: center;
      margin-bottom: 60px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }



    &-img {
      //temp
      width: 60px;
      height: 60px;
      border-radius: 5px;
      background-color: grey;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 24px;
      text-align: center;

      @media screen and (max-width: 1366px) {
        font-size: 22px;
      }
    }
  }
}
