.network {
  @include adaptiv-value(margin-bottom, 90, 20, 1);

  @media screen and (max-width: 992px) {
    margin-bottom: 50px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 30px;

    @media screen and (max-width: 992px) {
      grid-template-rows: repeat(3, 100px);
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 60px;
    }


    @media screen and (max-width: 576px) {
      column-gap: 10px;
      row-gap: 30px;
    }
  }

  #map {
    background-color: grey;
    grid-column: span 12;
    grid-row: span 3;
    // min-height: 437px;

    @media screen and (max-width: 992px) {
      grid-column: span 2;
      min-height: 437px;
    }

    @media screen and (max-width: 576px) {
      min-height: 190px;
    }
  }

  .hint {
    display: grid;
    align-items: center;
    grid-template-columns: 50px 1fr;
    gap: 20px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    color: var(--text);
    border-radius: var(--radius-15);
    background: linear-gradient(180deg, rgba(123, 196, 255, 0.61) 0%, rgba(159, 212, 255, 0.61) 100%);
    position: relative;
    box-shadow: 0px 4px 18px rgba(148, 213, 253, 0.3),
      0px 1px 40px rgba(206, 236, 255, 0.2);
    backdrop-filter: blur(52px);

    @media screen and (max-width: 1366px) {
      font-size: 20px;
    }

    @media screen and (max-width: 992px) {
      font-size: 18px;
      order: -1;
    }

    @media screen and (max-width: 576px) {
      font-size: 16px;
      grid-template-columns: 1fr;
      grid-template-rows: 40px 1fr;
      row-gap: 5px;
      justify-items: center;
    }

    & span {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;

      @media screen and (max-width: 576px) {
        text-align: center;
      }
    }

    & svg {
      @media screen and (max-width: 576px) {
        width: 30px;
        height: 40px;
      }
    }

    // &::before {
    //   content: "";
    //   background-repeat: no-repeat;
    //   width: 50px;
    //   height: 60px;
    //   position: absolute;
    //   left: 20px;

    //   @media screen and (max-width: 992px) {
    //     left: 10px;
    //   }

    //   @media screen and (max-width: 576px) {
    //     background-size: 35px 40px;
    //     top: 10px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //   }
    // }
  }

  .own-hint {
    grid-column: 9 / 13;
    grid-row: 1 / 2;
    display: none;

    &::before {
      background-image: url("../img/teardrop-in-circle.svg");
    }

    @media screen and (max-width: 992px) {
      grid-column: unset;
      grid-row: unset;
    }
  }

  .partner-hint {
    grid-column: 9 / 13;
    grid-row: 2 / 3;
    display: none;

    @media screen and (max-width: 992px) {
      grid-column: unset;
      grid-row: unset;
    }

    &::before {
      background-image: url("../img/handshake.svg");
    }
  }

  &__btn {
    grid-column: span 12;
    grid-row: 4/5;
    max-width: 100%;
    font-size: 24px;
    justify-self: center;

    @media screen and (max-width: 1366px) {
      font-size: 20px;
    }

    @media screen and (max-width: 992px) {
      grid-column: span 2;
      grid-row: unset;
      justify-self: center;
      padding: 40px 0;
      min-width: 450px;
    }

    @media screen and (max-width: 576px) {
      min-width: unset;
      width: 100%;
      padding: 20px 0;
      font-size: 18px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width: 576px) {
      font-size: 24px;
    }
  }
}
