.reviews {
  @include adaptiv-value(padding-top, 110, 20, 1);
  @include adaptiv-value(padding-bottom, 70, 20, 1);
  @include adaptiv-value(margin-bottom, 100, 20, 1);
  background: linear-gradient(180deg, #088AE9 0%, #20A6F7 36.36%, #97CDFA 80.45%, #E8F5FE 97.82%);

  @media screen and (max-width: 992px) {
    margin-bottom: 90px;
  }

  @media screen and (max-width: 576px) {
    margin-bottom: 60px;
  }

  &__title {
    text-align: center;
    max-width: 685px;
    @include line-height(50, 60);
    color: var(--white);

    margin: 0 auto;

    @media screen and (max-width: 992px) {
      max-width: 500px;
    }

    @media screen and (max-width: 360px) {
      font-size: 24px;
    }
  }

  &__item {
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    background-color: var(--white);
    border-radius: var(--radius-15);
    padding: 30px;
    gap: 18px;

    @media screen and (max-width: 992px) {
      height: unset;
    }
  }


  &__info {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 20px;
    margin-top: auto;
  }

  &__name {
    font-size: 24px;
    font-family: var(--font-family-secondary);
    font-weight: 700;

    @media screen and (max-width: 576px) {
      font-size: 20px;
    }

    @media screen and (max-width: 360px) {
      font-size: 18px;
    }
  }

  &__text {
    @media screen and (max-width: 576px) {
      font-size: 16px;
    }
  }

  &__avatar {
    width: 60px;
    height: 60px;
    border: 1px solid var(--text);
    background-color: grey;
    border-radius: 5px;
    align-self: start;

    & img {
      border-radius: 5px;
    }
  }

  &__inner {
    // display: grid;
    // grid-auto-flow: row;
  }

  &__slider {
    margin-bottom: 30px;
    max-width: 1400px;
  }

  &__btn {
    margin: 0 auto;

    @media screen and (max-width: 360px) {
      min-width: unset;
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }

  .splide__arrows {
    position: relative;
    height: 100px;
    right: 3%;

    @media screen and (max-width: 768px) {
      height: 70px;
    }
  }

  .splide__arrow--next {
    left: 0;
    right: unset;

    @media screen and (max-width: 767px) {
      left: 30px;
    }

    @media screen and (max-width: 360px) {
      left: 10px;
    }
  }

  .splide__arrow--prev {
    right: 30px;
    left: unset;

    @media screen and (max-width: 768px) {
      right: 15px;
    }

    @media screen and (max-width: 767px) {
      right: 0;
    }

    @media screen and (max-width: 360px) {
      right: -5px;
    }
  }

  .splide__arrow svg {
    width: 40px;
    height: 40px;
    fill: var(--white);

    @media screen and (max-width: 768px) {
      width: 25px;
      height: 25px;
    }

    @media screen and (max-width: 360px) {
      width: 20px;
      height: 20px;
    }
  }

  .splide__arrow {
    background: none;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 0;

    @media screen and (max-width: 992px) {
      margin-bottom: 45px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 360px) {
      margin-bottom: 5px;
    }
  }
}
