:root {
  --container-width: 1440px;
  --font-family-primary: 'Montserrat', sans-serif;
  --font-family-secondary: 'Montserrat Alternates', sans-serif;
  --white: #FFFFFF;
  --text: #25374F;
  --light-text: #425062;
  --btn-primary: #223783;
  --accent: #1094ED;
}
